* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 600 16px/18px 'Open Sans', sans-serif;
  background: #007bff; 
  color: #6a6f8c;
}

.SignIn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 20px;
}

#login-form,
#register-form {
  background: rgba(40,57,101,.9);
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 12px 15px 0 rgba(0,0,0,.24), 0 17px 50px 0 rgba(0,0,0,.19);
}
 

#login-form h2,
#register-form h2 {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 15px;
}


#login-form input,
#register-form input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 12px;
  border: none;
  background: rgba(255,255,255,.1);
  color: #fff;
}
 
#login-form button,
#register-form button {
  width: 100%;
  padding: 15px;
  border-radius: 12px;
  border: none;
  background: #1161ee;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

#login-form button:hover,
#register-form button:hover {
  background: rgba(255,255,255,.2);
}


@media (min-width: 768px) {
  .SignIn {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  #login-form,
  #register-form {
    margin: 0 10px;
  }

  #login-form,
  #register-form {
    width: 100%;
    max-width: 300px;
  }
}