* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 40;
  background-color: #f4f4f4;
  font-family: 'Open Sans', sans-serif;
}

.appointmentHistory {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .appointmentHistory h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .appointmentHistory ul {
    list-style-type: none;
    padding: 0;
  }
  
  .appointmentHistory li {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
  }