.Navbar {
  background-color: #336699; 
  color: white;
  position: relative;
  z-index: 1; 
}

.Navbar button {
  position: absolute;
  left: 10px;
  top: 10px;
  background: none;
  border: none;
  color: #007BFF; 
  font-size: 24px;
  cursor: pointer;
  transition: left 0.3s ease; 
  z-index: 2; 
  display: none;
}

.Navbar ul {
  display: flex;
  justify-content: space-between; 
  list-style: none;
  padding: 0;
  margin: 0;
  transition: transform 0.3s ease-in-out;
}

.Navbar li {
  padding: 10px;
  cursor: pointer;
  width: 90%;
}

.Navbar li:hover {
  background-color: #555;
}

.Navbar a {
  color: white; 
  text-decoration: none; 
}

.Navbar a:hover {
  color: #ddd;
}

#loginButton{
  margin-left: 'auto';
}

@media (max-width: 768px) {

  .Navbar ul {
    flex-direction: column;
    position: fixed; 
    justify-content: flex-start;
    align-items: flex-start;
    width: 200px;
    height: 100vh;
    left: -200px;
    transition: left 0.3s ease;
    background-color: rgba(51, 102, 153, 0.9); 
  }

  .Navbar ul.open {
    left: 0;
  }

  .Navbar button {display: block;}
  .Navbar button.open {
    left: 210px;
  }

  #loginButton {
    margin-left: 0%;
  }
}