.Navbar {
  background-color: #336699; 
  color: white;
  position: relative;
  z-index: 1; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 20px;
}

.Navbar button {
  background: none;
  border: none;
  color: white;
  font-size: 16px; 
  cursor: pointer;
  transition: left 0.3s ease; 
  z-index: 2; 
  display: none;
}

.Navbar span:hover + button {
  display: block; 
}

.Navbar ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: transform 0.3s ease-in-out;
}

.Navbar li {
  padding: 10px;
  cursor: pointer;
}

.Navbar li:hover {
  background-color: #555;
}

.Navbar a {
  color: white; 
  text-decoration: none; 
  font-size: 16px; 
}

.Navbar a:hover {
  color: #ddd;
  
}

.Navbar span {
  color: white;
  font-size: 16px;

}

.Navbar span:hover {
  color: #007BFF;
}

@media (max-width: 768px) {
  .Navbar ul {
    flex-direction: column;
    position: absolute; 
    justify-content: flex-start;
    align-items: flex-start;
    top: 41%;
    bottom: 0;
    width: 200px;
    height: 100vh;
    left: -200px;
    transition: left 0.3s ease;
    background-color: rgba(51, 102, 153, 0.9); 
  }

  .Navbar ul.open {
    left: 0;
  }

  .Navbar button {display: block;}
  .Navbar button.open {
    left: 210px;
  }

  #loginButton {
    margin-left: 0%;
  }
}
